# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Model files
# =========================
*.h5
*.pt
*.pth
*.ckpt
saved_models/

# =========================
# Vector DB / Embeddings
# =========================
chroma/
faiss_index/
*.index
*.pkl

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/
